<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: arial, sans-serif;">
    <h2>Hello <%= @email_verification.user.username %>!</h2>
    <p>Thank you so much for having subscribed to Trellow!<br>
    <br>
    <p>You are almost done creating your account. Now, all you need to do is click on the link below to activate your
       account and stars using Trellow!</p>
    <br>
    <a href="<%= "#{root_url}/email_verification/#{@email_verification.id}" %>" title="Activate account">
      Activate account
    </a>
  </body>
</html>