// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$border-radius-base: 0.25em;

#react-root {
  height: 100%;

  > * {
    height: 100%;
  }
}

#hamburger {
  cursor: pointer;
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  transition: color 0.3s;

  :hover {
    color: #1890ff;
  }
}

.ant-layout-sider-children {
  max-height: 100%;
  overflow-y: auto;
}

.ant-layout-header {
  background: none;
  padding: 0;
  position: fixed;
  top: 0;
}

.ant-layout {
  overflow-y: auto;
}

.ant-layout-content {
  background: #fff;
  border-radius: $border-radius-base;
  margin: 64px 16px 0 16px;
  min-height: 480px;
  padding: 32px;
}

.ant-layout-footer {
  text-align: center;
}
